* {
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

.banner {
    background-image: url(../images/banner/banner3.png);
    height: 800px;
    text-align: right;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;
}

.banner-container {
    margin-left: 845px;
    margin-right: 200px;
    padding-top: 215px;

}

.banner-container .banner-title {
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 700px;
    margin-bottom: 25px;
}

.banner-container .banner-description {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
}

main {
    padding: 0 205px;
}

.failure-container {
    display: flex;
    gap: 85px;
    align-items: center;
    margin-right: 40px;
}

.failure-details {
    padding-top: 130px;
}

.failure-details .failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.failure-details .failure-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.failure-details ul li::before {
    content: '\2714\0020';
    color: green;
}

.failure-details ul li {
    list-style: none;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}

.plan-container {
    text-align: center;
    margin-bottom: 130px;
}

.plan-types {
    display: flex;
    gap: 85px;
    justify-content: center;
}

.plan-items img {
    margin-bottom: 25px;
}

.plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin: 130px 0 50px 0;
}

.plan-sub-title {
    color: #151414;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}

.plan-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}
.blending-image{
    height: 270px;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-blend-mode: normal;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.blending-image-container{
    padding: 60px 0 0 65px;
}
.blending-image-title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}